*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /*outline-offset: 8px*/
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.522);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 9999;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

body.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*******************/
/*General Reusable Compoents*/
/*******************/
.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px; /*微調可用px*/
}

.heading-primary {
  line-height: 1.05;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block; /*span-> inline*/
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  margin-top: 9.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem; /*common: double size*/
  border-radius: 9px;
  transition: background-color 0.3s;

  /*only for .btn*/
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /*----adding border----*/
  /* border: 3px solid #fff;  會在外面加編筐 使得會有跳動的情況 */
  box-shadow: inset 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

strong {
  font-weight: 500;
}
